<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('app_home') }}">SymLocation _Page d'acceuil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Nos Véhicules
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('driver_index') }}">Liste des conducteur</a>
                    <a class="dropdown-item" href="{{ path('vehicle_index') }}">Liste des Véhicules</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('driver_new') }}">Ajouter un conducteur</a>
                    <a class="dropdown-item" href="{{ path('vehicle_new') }}">Ajouter une Véhicule</a>
                </div>
            </li>
        </ul>


    </div>
</nav>