{% extends 'base.html.twig' %}

{% block title %}Driver{% endblock %}

{% block body %}
    <h1>Driver</h1>

    {% for driver in drivers %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ driver.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ driver.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ driver.lastname }}</td>
            </tr>
            <tr>
                <th>Phone_number</th>
                <td>{{ driver.phoneNumber }}</td>
            </tr>

        <div class="card-footer">
                <a class="btn btn-sm btn-warning" href="{{ path('driver_edit', {id: driver.id}) }}">Éditer</a>
                <form method="post" action="{{ path('driver_delete', { id: driver.id }) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('deleteDriver' ~ driver.id) }}">
                    <button class="btn btn-sm btn-danger" style="margin-top:1px; margin-left:5px;">Supprimer</button>
                </form>
        </div>

        </tbody>
    </table>

    <a href="{{ path('driver_index') }}">back to list</a>

    <a href="{{ path('driver_edit', {'id': driver.id}) }}">edit</a>

    {{ include('driver/_delete_form.html.twig') }}

    {% endfor %}
{% endblock %}
