<div class="container-fluid my-4">

    <div class="row">
        <div class="col-12">
            <form method="post" action="{{ path('vehicle_index') }}">
                <div class="form-group">
                    <input type="text" name="vehicle_search" class="form-control" placeholder="Rechercher un vheicule...">
                </div>
                <button class="btn btn-success pull-right"> Chercher </button>
            </form>
        </div>
    </div>

</div>