{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

{% for vehicle in vehicles %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ vehicle.immatriculation }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ vehicle.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ vehicle.model }}</td>
            </tr>

            <div class="card-footer">
                <a class="btn btn-sm btn-warning" href="{{ path('vehicle_edit', {id: vehicle.id}) }}">Éditer</a>
                <form method="post" action="{{ path('vehicle_delete', { id: vehicle.id }) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('deleteVehicle' ~ driver.id) }}">
                    <button class="btn btn-sm btn-danger" style="margin-top:1px; margin-left:5px;">Supprimer</button>
                </form>
            </div>
        </tbody>
    </table>

    <a href="{{ path('vehicle_index') }}">back to list</a>

    <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">edit</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endfor %}

{% endblock %}
