

{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}


{% block body %}

    {% include 'public/partials/_form.html.twig' %}

{% endblock %}

{% block title %}

{% endblock %}
